*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --main-color: #553AFD;
}

html {
    scroll-behavior: smooth;
}

header {
    margin: 0 auto;
    max-width: 1440px;
    padding: 40px 71px 0;
    position: relative;
}

.nav-menu {
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    padding: 10px;
    align-items: center;
}

.nav-logo {
    height: 46px;
    width: 114px;
}

.nav-menu-btn {
    text-decoration: none;
    color: white;
    padding: 20px 5px;
    border-radius: 60px;
    width: 136px;
    text-align: center;
    font-size: 20px;
    transition: 1000ms;
}

.nav-menu-btn.active {
    background-color: var(--main-color);
}

.nav-menu-btn:hover {
    background-color: var(--main-color);
}

.my-cont {
    margin: 0 auto;
    max-width: 1440px;
    padding: 60px 0 100px 40px;
    display: flex;
    justify-content: space-between;
}

.my-info-cont {
    max-width: 800px;
    padding-top: 100px;
    width: 100%;
}

.my-hello {
    font-size: 24px;
    font-weight: 600;
}

.my-name {
    font-size: 32px;
    font-weight: 600;
    color: var(--main-color);
}

h1 {
    font-size: 100px;
    font-weight: 700;
}

.span-h1 {
    text-align: right;
    display: block;
    width: 100%;
}

.my-txt {
    font-size: 21px;
    letter-spacing: 3px;
    padding: 25px 0;
    max-width: 700px;
}

.my-button {
    background-color: var(--main-color);
    color: white;
    font-size: 21px;
    padding: 18px 52px;
    border-radius: 10px;
    transition: 500ms;
    cursor: pointer;
}

.my-button:hover {
    background-color: black;
}

.my-src {
    padding-top: 36px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.me {
    border-radius: 250px;
    border: 4px solid var(--main-color);
    width: 500px;
}

.my-img-svg {
    fill: #000000;
    transition: 500ms;
    cursor: pointer;
}

.my-img-hh {
    stroke: #000000;
    transition: 500ms;
    cursor: pointer;
}

.my-img-svg:hover {
    fill: var(--main-color);
}

.my-img-hh:hover {
    stroke: var(--main-color);
}

.my-service-cont {
    margin: 0 auto;
    max-width: 1440px;
    background-image: url('./img/bg-block.png');
    padding: 116px 0 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.my-service-title {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    letter-spacing: -1px;
    padding: 0 70px 96px;
}

.my-service-h2 {
    font-size: 64px;
    font-weight: 500;
    color: white;
}

.my-service-title-txt {
    color: white;
    max-width: 580px;
}

.my-service-card-cont {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.my-service-card {
    position: relative;
    color: white;
    font-size: 32px;
    font-weight: 500;
    background-color: rgba(104, 104, 104, 0.2);
    backdrop-filter: blur(15px);
    width: 416px;
    border: 2px solid rgba(249, 250, 251, 0.3);
    border-radius: 35px;
    cursor: pointer;
    z-index: 0;
}

.my-service-card-svg {
    fill: #1D2939;
    stroke: #FFFFFF;
    transition: 500ms;

}

.my-service-card:hover .my-service-card-svg {
    fill: var(--main-color);
}

.my-service-card-title {
    padding: 44px 37px 0;
}

.my-service-card-line {
    width: 100%;
    height: 2px;
    background-color: rgba(249, 250, 251, 0.3);
    margin: 23px 0 49px;
}

.my-service-card-img {
    margin: 0 0 -143px -2px;
}

.my-service-card-svg {
    position: absolute;
    right: -2px;
    bottom: -135px;
}

h2 {
    max-width: 643px;
    font-size: 64px;
    font-weight: 600;
}

.h2-span {
    color: var(--main-color);
}

.my-service-title-btn {
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 20px 40px;
    border-radius: 40px;
    transition: 500ms;
    cursor: pointer;
}

.my-service-title-btn:hover {
    background-color: #000;
}

.skills {
    margin: 0 auto;
    max-width: 1440px;
    padding: 80px 0 80px;
}

.skills-title {
    padding: 0 70px 30px;
}

.skill-card-cont {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 0 10px;
}

.skill-card-img {
    background-image: url('./img/bg-card.png');
    border-radius: 20px;
    width: 300px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-card-txt {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

.skill-card-img svg {
    fill: rgba(255, 255, 255, 0.1);
    transition: 500ms;
}

.skill-card-img:hover svg {
    fill: var(--main-color);
}

.send {
    margin: 0 auto;
    max-width: 1440px;
    background-image: url('./img/bg-block.png');
    padding: 292px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.send-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.send-cont h2 {
    color: white;
    max-width: 800px;
    letter-spacing: -2px;
}

.send-cont-list {
    padding-top: 50px;
    display: flex;
    gap: 70px;
}

.send-cont-list-a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 500ms;
}

.send-cont-list-a:hover {
    color: var(--main-color);
}

.educate {
    margin: 0 auto;
    max-width: 1440px;
    padding: 80px 25px;
}

.educate-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.educate-title-txt {
    font-size: 21px;
    max-width: 900px;
    letter-spacing: 0.5px;
}

.educate-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    gap: 15px;
}

.educate-txt-cont {
    max-width: 960px;
    background-color: #F8F8F8;
    border-radius: 14px;
    padding: 50px 67px 50px 30px;
}

.educate-bachelor-txt {
    font-size: 21px;
    text-align: justify;
}

.educate-bachelor-degree {
    font-size: 24px;
    font-weight: 500;
    padding-top: 43px;
}

.educate-bachelor-year {
    font-size: 19px;
}

footer {
    margin: 0 auto;
    max-width: 1440px;
    border-radius: 24px 24px 0 0;
    background-color: #272727;
    padding: 71px 71px 25px;
}

.foot-title {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    gap: 30px;
}

.foot-title h2 {
    max-width: 815px;
    transition: 500ms;
}

.foot-title-btn {
    background-color: var(--main-color);
    font-size: 26px;
    color: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 14px 33px;
    transition: 500ms;
    cursor: pointer;
}

.foot-title-btn-svg {
    stroke: #FFF;
    transition: 500ms;
}

.foot-title-btn:hover {
    background-color: #fff;
    color: var(--main-color);
}

.foot-title-btn:hover .foot-title-btn-svg {
    stroke: var(--main-color);
}

.foot-line {
    width: 100%;
    height: 2px;
    background-color: #475467;
    margin: 76px 0;
}

.foot-cont {
    display: flex;
    gap: 60px;
}

.foot-contact-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-contact-icon-svg {
    fill: #FFF;
    stroke: #FFF;
    transition: 500ms;
}

.foot-contact-icon-svg:hover {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.foot-navigation-title {
    color: var(--main-color);
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 28px;
    letter-spacing: -1px;
}

.foot-nav-menu-group {
    display: flex;
    gap: 60px;
}

.foot-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.foot-nav-a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 500ms;
}

.foot-nav-a:hover {
    color: var(--main-color);
}

.foot-contact-title {
    color: var(--main-color);
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 28px;
    letter-spacing: -1px;
}

.foot-contact-list {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.foot-contact-list-item {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 500ms;
}

.foot-contact-list-item:hover {
    color: var(--main-color);
}

.foot-send-form-input {
    border-radius: 14px 0 0 14px;
    padding: 15px 0 15px 14px;
    width: 100%;
    font-size: 20px;
}

.foot-send-form-input::-moz-placeholder {
    color: black;
}

.foot-send-form-input::-webkit-input-placeholder {
    color: black;
}

.foot-send-form-input::-ms-input-placeholder {
    color: black;
}

.foot-send-form-btn {
    background-color: var(--main-color);
    border-radius: 0 14px 14px 0;
    padding: 13.5px 11px;
}

.foot-end {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.foot-end-txt {
    font-size: 20px;
    letter-spacing: -1px;
    color: white;
}


@media (max-width: 1360px) {
    h1 {
        font-size: 70px;
        max-width: 700px;
    }

    .my-img-cont img {
        width: 450px;
    }

    .nav-logo {
        height: 30px;
        width: auto;
    }

    .nav-menu-btn {
        font-size: 14px;
        width: 100px;
    }

    .my-service-title {
        display: flex;
        flex-direction: column;
        padding: 0 0 60px;
        gap: 30px;
        text-align: center;
    }

    .my-service-card {
        width: 350px;
    }

    .my-service-card-title {
        font-size: 24px;
    }

    .my-service-card-img {
        width: 350px;
    }

    .my-service-card-svg {
        width: 100px;
        bottom: -140px;
    }

    .skills-title {
        display: flex;
        justify-content: center;
    }

    .skill-card-img {
        background-image: url(./img/bg-card.png);
        border-radius: 20px;
        width: 300px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skill-card-txt {
        font-size: 20px;
    }

    .educate-txt-cont {
        padding: 50px 30px;
        max-width: 800px;
    }

    .foot-title h2 {
        font-size: 50px;
    }

    .foot-title-btn {
        font-size: 20px;
        padding: 10px 15px;
        flex-shrink: 0;
        height: 62px;
    }

    .foot-title-btn-svg {
        width: 30px;
    }
}

@media (max-width: 1120px) {
    .msc3 {
        display: none;
    }

    .educate-txt-cont {
        padding: 50px 30px;
        max-width: 800px;
    }

    .educate-bachelor-txt {
        font-size: 18px;
    }

    .educate-bachelor-degree {
        font-size: 20px;
    }

    .educate-bachelor-year {
        font-size: 18px;
    }

    .educate-bachelor-txt {
        max-width: 700px;
    }
}

@media (max-width: 1050px) {
    h1 {
        font-size: 50px;
        max-width: 550px;
    }

    .my-txt {
        font-size: 16px;
    }

    .my-img-cont img {
        width: 350px;
    }

    .my-button {
        font-size: 16px;
    }

    .my-service-title-btn {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .nav-menu {
        display: none;
    }

    .my-cont {
        padding: 0 0 40px;
        flex-direction: column;
        align-items: center;
    }

    .my-info-cont {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .my-img-cont img {
        margin-top: 30px;
    }

    .my-service-cont {
        padding-top: 40px;
        border-radius: 25px;
    }

    .skills {
        padding: 40px 0;
    }

    .send {
        border-radius: 25px;
    }

    footer {
        padding: 45px 35px 20px;
    }

    .foot-title {
        flex-direction: column;
    }

    .foot-title h2 {
        font-size: 38px;
        text-align: center;
    }

    .foot-line {
        margin: 40px 0;
    }

    .foot-cont {
        justify-content: center;
    }

    .foot-navigation-title {
        font-size: 24px;
    }

    .foot-nav-menu-group {
        gap: 30px;
    }

    .foot-nav-a {
        font-size: 20px;
    }

    .foot-contact-title {
        font-size: 24px;
    }

    .foot-contact-list-item {
        font-size: 20px;
    }

    .foot-end-txt {
        font-size: 18px;
    }

}

@media (max-width: 800px) {
    .my-service-card {
        width: 300px;
    }

    .my-service-card-title {
        font-size: 18px;
    }

    .my-service-card-img {
        width: 300px;
    }

    .my-service-card-svg {
        width: 80px;
        bottom: -150px;
    }

    .my-service-h2 {
        font-size: 50px;
    }

    .skills-h2 {
        font-size: 50px;
    }

    .send-cont h2 {
        font-size: 50px;
    }

    .send-cont-list-a {
        font-size: 20px;
    }

    .send {
        padding: 150px 0;
    }

    .educate {
        padding: 40px;
    }

    .educate-cont {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }

    .educate-title h2 {
        font-size: 50px;
    }

    .educate-title-txt {
        font-size: 20px;
    }

    .educate-svg {
        order: 1;
        padding-top: 30px;
    }

    .educate-txt-cont {
        order: 0;
    }

    .educate-bachelor-txt {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .my-name {
        font-size: 25px;
    }

    h1 {
        font-size: 36px;
    }

    .my-txt {
        font-size: 14px;
    }

    .my-button {
        font-size: 14px;
    }

    .my-img-cont img {
        width: 300px;
    }

    .my-img-svg {
        width: 25px;
    }

    .my-img-hh {
        width: 25px;
    }

    .msc2 {
        display: none;
    }

    .my-service-h2 {
        font-size: 28px;
    }

    .my-service-title-txt {
        font-size: 18px;
        padding: 0 15px;
    }

    .skills-h2 {
        font-size: 28px;
    }

    .skill-card-cont {
        gap: 10px;
    }

    .skill-card-img {
        width: 150px;
        height: 80px;
    }

    .skill-card-img svg {
        width: 50px;
    }

    .foot-cont {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foot-end {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 550px) {
    .send-cont h2 {
        font-size: 30px;
        padding: 0 40px;
    }

    .send-cont-list-a {
        font-size: 16px;
    }

    .send-cont-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .h2-span {
        font-size: 30px;
    }

    .educate-title-txt {
        font-size: 16px;
    }

    .educate-bachelor-txt {
        font-size: 16px;
    }

    .educate-bachelor-degree {
        font-size: 16px;
    }

    .educate-svg {
        width: 200px;
    }

    .foot-title h2 {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .send-cont h2 {
        padding: 0;
    }

    .skill-card-cont {
        overflow: hidden;
        overflow-y: scroll;
        height: 245px;
    }

    .skill-card-cont::-webkit-scrollbar {
        width: 8px;
    }

    .skill-card-cont::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
        border-radius: 10px;
    }

    .skill-card-cont::-webkit-scrollbar-track {
        background-color: rgba(39, 39, 39, 0.2);
        border-radius: 10px;
    }
}
